@import "/general.css";


body {
    background: url(/img/aboutbg.jpg);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

textarea, input[type=text] {
    padding: 12px 20px;
    font-size: max(16px, 1em);
    border-radius: 5px;
    margin: 11px 0;
    border: none;
    outline: none;
}

.remetente {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #fff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    margin: 11px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (max-width:50em) {
    textarea, input[type=text] {
        padding: 5px 10px;
    }

    textarea{
        max-width: 85%;
    }

    .remetente{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}