@import "/general.css";

@font-face {
    font-family: NHG;
    src: url(/fonts/NHaasGroteskTXPro-55Rg.ttf);
}

h4 {
    color: #fff;
    font-size: 2.4em;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: NHG;
}

body {
    background: black;
}

section {
    min-height: 100vh;
}

.cards img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.title {
    padding: 1em;
}

.front-text {
    position: absolute;
    top: 80%;
    left: 75%;
}

.front-pic {
    position: absolute;
    top: 30%;
    left: 20%;
}


/* work */

.cards {
    display: flex;
    justify-content: center;
}

.texts{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .8em;
}

.cardp {
    width: 75%;
    cursor: pointer;
}

.cards h4{
    cursor: pointer;
}

.cardpic {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: absolute;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width:50em){
    .front-text {
        position:inherit;
        display: flex;
        justify-content: flex-end;
        margin: 2em 1em;
    }
    
    .front-pic {
        position:inherit;
        display: flex;
        justify-content: center;
        margin: 3.2em 0;
    }

    img {
        max-width: 95%;
    }

    .cards {
        flex-direction: column-reverse;
    }

    .rev {
        flex-direction: column;
    }

    .cards img {
        max-width: 89%;
        margin-bottom: 15px;
    }

    .cardp {
        width: 89%;
    }

    p{
        font-size: 1.2em;
    }

    section {
        min-height: 60vh;
    }
    
    .container{
        margin: 100px 0;
    }

    .texts{
        gap: .3em;
    }

    
}