@import "/general.css";


body {
    background: url(/img/aboutbg.jpg);

}

img {
    max-width: 100%;
    height: auto;
}

.sectionContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 8rem;
}

.sectionContainer p{
    color: #fff;
    padding: 10em 0;
    font-size: 2rem;
    font-family: NHG;
    letter-spacing: 1.7px;
    line-height: 1.4em;
}

.pic {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:50em){
    .sectionContainer{
        padding: 0 1rem;
    }

    .sectionContainer p{
        padding: 10em 0;
        font-size: 1.1rem;
        letter-spacing: 1.7px;
        line-height: 1.4em;
    }
}