@import "/general.css";


h2 {
    color: #fff;
}

p {
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    font-family: NHG;
    letter-spacing: 1.7px;
    line-height: 1.4em;
}

body {
    background: url(/img/aboutbg.jpg)
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    padding: 1em;
}

section{
    display: flex;
    padding: 3rem;
    gap: 3rem;
}

.about-text{
    width: 80%;
    text-align: center;
}